{require_otp_vsn, "R13B04|R14"}.

{erl_opts, [debug_info, fail_on_warning, {d,'TRIQ'}]}.

{so_name, "bdb_nifs.so"}.

{port_envs, [

             {"DRV_CFLAGS", "$DRV_CFLAGS -I/usr/local/BerkeleyDB.5.1/include -DXP_UNIX"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS -L/usr/local/BerkeleyDB.5.1/lib -ldb"},

             %% Solaris specific flags
             {"solaris.*-64$", "CFLAGS", "-D_REENTRANT -m64"},
             {"solaris.*-64$", "LDFLAGS", "-m64"},

             %% OS X Leopard flags for 64-bit
             {"darwin9.*-64$", "CFLAGS", "-m64"},
             {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

             %% OS X Snow Leopard flags for 32-bit
             {"darwin10.*-32$", "CFLAGS", "-m32"},
             {"darwin10.*-32$", "LDFLAGS", "-arch i386"}
             ]}.


{deps, [
       {sext, "0.1.*", {git, "git://github.com/uwiger/sext", {branch, "master"}}}
       ]}.

{eunit_opts, [verbose]}.

{clean_files, ["*~","*/*~","ebin/*.beam"]}.

{edoc_opts, [{doclet, edown_doclet},
             {src_path, ["src", "test"]},
                  {app_default,"http://www.erlang.org/doc/man"}]}.

